.products {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 12px;

    .card {
      max-width: 350px;
      height: 395px;
      position: relative;
      padding: 5px;
      .img {
        max-width: 250px;
        height: 250px;
        padding: 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      h3 {
        font-family: Manrope;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        text-align: left;
        text-transform: capitalize;
        color: #454545;
        padding: 0 0 24px;
      }
      del {
        font-family: Manrope;
        font-size: 12px;
        font-weight: 500;
        line-height: 13.2px;
        text-align: left;
        color: #9f9f9f;
      }
      p {
        font-family: Manrope;
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        text-align: left;
        color: #454545;
      }
      .card_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        button {
          border: 0;
          background: #454545;
          color: #fff;
          padding: 5px 15px;
          font-size: 28px;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
      .heart {
        position: absolute;
        top: 0;
        right: 0;

        border: 0;
        background: transparent;
        font-size: 20px;
      }
    }
  }
  @media only screen and (max-width: 1101px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
      .card {
        .card_bottom {
          .prices {
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 505px) {
    .cards {
      .card {
        .img {
          max-width: 200px;
          height: 200px;
          img {
            width: 100%;
          }
        }
        h3 {
          font-size: 16px;
          font-weight: 600;
        }
        .card_bottom {
          flex-direction: column;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
