@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

@import "./static/banner";
@import "./static/btn";
@import "./components/catalog";
@import "./components/header";
@import "./components/nornlight";
@import "./components/products";
@import "./components/brends";
@import "./components/blog";
@import "./components/desc";
@import "./components/footer";
